*{
    background-color: black;
}
#main{
    margin-left: 25%;
    margin-top: 100px;
    width: 50%;
    color: white;
    text-align: center;
}
.edit-image{
    width: 100%;
    border: 4px solid white;
}